.navbar-brand {
    font-size: 2.5rem;
}

.search-header {
    font-size: 1.25rem;
    font-weight: bold;
}

.city-name {
    font-size: 1.875rem;
}

.forecast-date {
    font-size: 1.25rem;
}

/* Modified for different screensizes */
@charset "UTF-8";
@media screen and (max-width: 960px) {
  aside {
    width: 100%;
    margin: 0 auto !important;
  }
  aside #search-box {
    display: flex;
  }
  aside #search-box #city-search-input {
    flex: 1 0 auto;
  }
  #city-list {
    display: inline-flex;
    flex-flow: column nowrap;
  }
  #city-list .city-item {
    margin: 0.25rem;
    width: 100% !important;
    margin: 0.25rem 0 !important;
  }
}

@media screen and (max-width: 960px) {
  #city-list {
    display: inline-flex;
    flex-flow: row wrap;
  }
  #city-list .city-item {
    margin: 0.25rem;
  }
}

@media screen and (max-width: 700px) {
  #forcast-list {
    flex-flow: column nowrap;
  }
  #forcast-list .forcast-card {
    width: 100% !important;
    margin: 0.25rem 0 !important;
  }
}